In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("amazon_sales_data 2025.csv")
df_clean= df.copy()

In [ ]:
df_clean.columns =(
    df_clean.columns
    .str.strip()
    .str.lower()
    .str.replace(" ","_")
)

df_clean.columns

Index(['order_id', 'date', 'product', 'category', 'price', 'quantity',
       'total_sales', 'customer_name', 'customer_location', 'payment_method',
       'status'],
      dtype='object')

In [ ]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total Sales        250 non-null    int64
 7   Customer Name      250 non-null    object
 8   Customer Location  250 non-null    object
 9   Payment Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.6+ KB

             Price    Quantity  Total Sales
count   250.000000  250.000000   250.000000
mean    343.580000    2.856000   975.380000
std     380.635808    1.429489  1252.112254
min      15.000000    1.000000    15.000000
25%      40.000000    2.000000   100.000000
50%     150.000000    3.000000   400.000000
75%     600.000000    4.000000  1500.000000
max    1200.000000    5.000000  6000.000000

In [ ]:
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
num_cols = df.select_dtypes(include= ['int64']).columns.tolist()

print("Categorical columns:", cat_cols)
print("Numerical columns:", num_cols)

for col in cat_cols:
  print(f"\nValue counts for '{col}':")
  print(df[col].value_counts())

Categorical columns: ['Order ID', 'Date', 'Product', 'Category', 'Customer Name', 'Customer Location', 'Payment Method', 'Status']
Numerical columns: ['Price', 'Quantity', 'Total Sales']

Value counts for 'Order ID':
Order ID
ORD0001    1
ORD0002    1
ORD0003    1
ORD0004    1
ORD0005    1
          ..
ORD0246    1
ORD0247    1
ORD0248    1
ORD0249    1
ORD0250    1
Name: count, Length: 250, dtype: int64

Value counts for 'Date':
Date
10-02-25    10
23-02-25     9
14-03-25     8
24-03-25     8
20-02-25     8
28-02-25     8
15-03-25     7
06-02-25     7
16-03-25     7
08-03-25     6
13-03-25     6
19-03-25     6
30-03-25     6
18-02-25     6
25-03-25     6
07-03-25     5
26-02-25     5
31-03-25     5
16-02-25     5
26-03-25     5
20-03-25     5
10-03-25     4
02-04-25     4
17-02-25     4
14-02-25     4
18-03-25     4
02-03-25     4
12-03-25     4
21-03-25     4
24-02-25     4
11-02-25     4
06-03-25     4
05-03-25     4
23-03-25     3
17-03-25     3
22-02-25     3
05-02-25     3
19-02-25     3
12-02-25     3
08-02-25     3
22-03-25     3
04-03-25     3
03-02-25     3
04-02-25     3
09-02-25     3
25-02-25     3
27-02-25     3
01-03-25     2
07-02-25     2
01-04-25     2
15-02-25     2
11-03-25     2
13-02-25     2
09-03-25     2
21-02-25     2
29-03-25     2
27-03-25     1
28-03-25     1
03-03-25     1
02-02-25     1
Name: count, dtype: int64

Value counts for 'Product':
Product
Smartphone         35
Smartwatch         34
Running Shoes      27
Headphones         25
Book               25
Laptop             24
Refrigerator       24
T-Shirt            20
Jeans              20
Washing Machine    16
Name: count, dtype: int64

Value counts for 'Category':
Category
Electronics        118
Home Appliances     40
Clothing            40
Footwear            27
Books               25
Name: count, dtype: int64

Value counts for 'Customer Name':
Customer Name
Emma Clark       32
Jane Smith       30
Olivia Wilson    29
David Lee        26
John Doe         26
Michael Brown    24
Daniel Harris    23
Emily Johnson    22
Chris White      22
Sophia Miller    16
Name: count, dtype: int64

Value counts for 'Customer Location':
Customer Location
Houston          32
Miami            31
Dallas           29
New York         26
Boston           26
Denver           26
Chicago          22
Seattle          22
San Francisco    19
Los Angeles      17
Name: count, dtype: int64

Value counts for 'Payment Method':
Payment Method
PayPal         60
Credit Card    54
Debit Card     53
Gift Card      42
Amazon Pay     41
Name: count, dtype: int64

Value counts for 'Status':
Status
Completed    88
Pending      85
Cancelled    77
Name: count, dtype: int64

In [ ]:
print(df.isnull().sum())

Order ID             0
Date                 0
Product              0
Category             0
Price                0
Quantity             0
Total Sales          0
Customer Name        0
Customer Location    0
Payment Method       0
Status               0
dtype: int64

In [ ]:
print(df.duplicated().sum())

0

In [ ]:
df_clean.to_csv("Amazon_clean.csv", index=False)