In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/content/ecommerce_customer_churn_dataset.csv")
df

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,38.0,Female,USA,Los Angeles,10.0,10.0,35.8,8.8,51.2,3.0,...,9.2,5.0,1.0,20.7,25.2,1.0,2365.98,3499.0,0,Q2
49996,37.0,Male,USA,Chicago,1.4,21.0,32.4,9.6,32.5,2.0,...,17.6,5.0,3.0,38.6,12.1,4.0,1293.60,3154.0,0,Q3
49997,44.0,Female,USA,Phoenix,2.8,19.0,40.3,10.4,50.6,1.0,...,25.2,4.0,6.0,59.9,NaN,1.0,1655.28,1622.0,0,Q1
49998,41.0,Female,USA,Chicago,2.9,17.0,29.9,10.1,60.8,1.0,...,34.6,5.0,2.0,NaN,14.1,3.0,1286.11,2634.0,0,Q2
49999,56.0,Male,UK,Leeds,2.2,2.0,18.2,NaN,46.0,0.0,...,0.0,7.0,0.0,0.0,4.2,1.0,1072.61,612.0,0,Q3

In [ ]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            47505 non-null  float64
 1   Gender                         50000 non-null  object
 2   Country                        50000 non-null  object
 3   City                           50000 non-null  object
 4   Membership_Years               50000 non-null  float64
 5   Login_Frequency                50000 non-null  float64
 6   Session_Duration_Avg           46601 non-null  float64
 7   Pages_Per_Session              47000 non-null  float64
 8   Cart_Abandonment_Rate          50000 non-null  float64
 9   Wishlist_Items                 46000 non-null  float64
 10  Total_Purchases                50000 non-null  float64
 11  Average_Order_Value            50000 non-null  float64
 12  Days_Since_Last_Purchase       47000 non-null  float64
 13  Discount_Usage_Rate            46500 non-null  float64
 14  Returns_Rate                   45509 non-null  float64
 15  Email_Open_Rate                47472 non-null  float64
 16  Customer_Service_Calls         49832 non-null  float64
 17  Product_Reviews_Written        46500 non-null  float64
 18  Social_Media_Engagement_Score  44000 non-null  float64
 19  Mobile_App_Usage               45000 non-null  float64
 20  Payment_Method_Diversity       47500 non-null  float64
 21  Lifetime_Value                 50000 non-null  float64
 22  Credit_Balance                 44500 non-null  float64
 23  Churned                        50000 non-null  int64
 24  Signup_Quarter                 50000 non-null  object
dtypes: float64(20), int64(1), object(4)
memory usage: 9.5+ MB

,Age,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,Total_Purchases,Average_Order_Value,Days_Since_Last_Purchase,...,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned
count,47505.000000,50000.000000,50000.000000,46601.000000,47000.000000,50000.000000,46000.000000,50000.000000,50000.000000,47000.000000,...,45509.000000,47472.000000,49832.000000,46500.000000,44000.000000,45000.000000,47500.000000,50000.000000,44500.000000,50000.000000
mean,37.802968,2.984009,11.624660,27.660754,8.737811,57.079973,4.298391,13.111576,123.117330,29.792872,...,6.680913,20.937980,5.681831,2.853312,29.364466,19.371607,2.353874,1440.626292,1966.233258,0.289000
std,11.834668,2.059105,7.810657,10.871013,3.778220,16.282723,3.189754,7.017312,175.569714,29.695062,...,6.143027,14.252561,2.676052,2.328948,20.574021,9.419252,1.110012,907.249443,1225.072166,0.453302
min,5.000000,0.100000,0.000000,1.000000,1.000000,0.000000,0.000000,-13.000000,26.380000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,29.000000,1.400000,6.000000,19.700000,6.000000,46.400000,2.000000,8.000000,87.050000,9.000000,...,2.900000,9.900000,4.000000,1.000000,13.200000,12.500000,2.000000,789.817500,1049.000000,0.000000
50%,38.000000,2.500000,11.000000,26.800000,8.400000,58.100000,4.000000,12.000000,112.970000,21.000000,...,5.400000,19.700000,5.000000,2.000000,27.600000,18.600000,2.000000,1243.415000,1896.000000,0.000000
75%,46.000000,4.000000,17.000000,34.700000,11.200000,68.700000,6.000000,17.000000,144.440000,41.000000,...,9.100000,30.400000,7.000000,4.000000,43.100000,25.500000,3.000000,1874.000000,2791.000000,1.000000
max,200.000000,10.000000,46.000000,75.600000,24.100000,143.743350,28.000000,128.700000,9666.379178,287.000000,...,99.615734,91.700000,21.000000,21.000000,100.000000,61.900000,5.000000,8987.240000,7197.000000,1.000000

In [ ]:
df['Age']= df['Age'].clip(lower=18, upper=90)
#We will correct erroneous 'Age' values by capping them between 18 and 90, as values outside this range are unrealistic.
df['Cart_Abandonment_Rate']= df['Cart_Abandonment_Rate'].clip(upper=100)
#Sometimes in datasets the calculated value for cart abandonment rate can accidentally go above 100%, which is impossible in real life.
df['Total_Purchases']= df['Total_Purchases'].clip(lower=0)
print("Erroneous values corrected for Age, Cart_Abandonment_Rate and Total_Purchases")

Erroneous values corrected for Age, Cart_Abandonment_Rate and Total_Purchases

In [ ]:

num_cols = df.select_dtypes(include= ['int64','float64']).columns


for col in num_cols:
  if col != 'Payment_Method_Diversity': #'Payment_Method_Diversity' will be handled seperately
    df[col].fillna(df[col].median(), inplace=True)
  print("Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median")

Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median

/tmp/ipython-input-1038693483.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [ ]:
num_cols = df.select_dtypes(include= ['int64','float64']).columns


for col in num_cols:
  if col != 'Payment_Method_Diversity': #'Payment_Method_Diversity' will be handled seperately
    df[col]= df[col].fillna(df[col].median())
  print("Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median")

Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median
Missing values in numerical columns (except 'Payment_Method_Diversity') imputed with their median

In [ ]:
df['Payment_Method_Diversity'].fillna(df['Payment_Method_Diversity'].mode()[0], inplace=True)
print("Missing value in 'Payment_Method_Diversity' imputed with its mode.")

Missing value in 'Payment_Method_Diversity' imputed with its mode.

/tmp/ipython-input-606401351.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment_Method_Diversity'].fillna(df['Payment_Method_Diversity'].mode()[0], inplace=True)

In [ ]:
df['Payment_Method_Diversity']= df['Payment_Method_Diversity'].fillna(df['Payment_Method_Diversity'].mode()[0])
print("Missing value in 'Payment_Method_Diversity' imputed with its mode.")

Missing value in 'Payment_Method_Diversity' imputed with its mode.

In [ ]:
print("Missing values after imputation:")
df.isnull().sum()

Missing values after imputation:

Age                              0
Gender                           0
Country                          0
City                             0
Membership_Years                 0
Login_Frequency                  0
Session_Duration_Avg             0
Pages_Per_Session                0
Cart_Abandonment_Rate            0
Wishlist_Items                   0
Total_Purchases                  0
Average_Order_Value              0
Days_Since_Last_Purchase         0
Discount_Usage_Rate              0
Returns_Rate                     0
Email_Open_Rate                  0
Customer_Service_Calls           0
Product_Reviews_Written          0
Social_Media_Engagement_Score    0
Mobile_App_Usage                 0
Payment_Method_Diversity         0
Lifetime_Value                   0
Credit_Balance                   0
Churned                          0
Signup_Quarter                   0
dtype: int64